{% extends "base.html" %}
{% block title %}{{ title }}{% endblock %}
{% block body %}
    {% block site_description %}{% endblock %}
    {% block index_title %}{% endblock %}
    {% for post in posts %}
        <h3><a href="{{ post.url }}" class="post-title">{{ post.title }}</a></h3>
        <h5>{{ post.pretty_date.upper() }}</h5>
        <p>{{ post.excerpt }}</p>
        {% for tag in post.tags %}
            <a class="button button-outline" href="#">{{ tag }}</a>
        {% endfor %}
    {% endfor %}
{% endblock %}